---
import Layout from '../layouts/Layout.astro';
import AnimatedLogo from '../components/AnimatedLogo.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
		<h1>TEST</h1>
		<AnimatedLogo/>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni debitis sunt accusantium. Sequi obcaecati totam inventore blanditiis expedita, asperiores doloribus reiciendis non. Facilis, nihil doloribus! Enim eveniet optio assumenda natus.</p>
</Layout>
