---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import StackedSections from '../components/StackedSections.astro';
---

<Layout>
    
    <Hero 
    topLine1="L'originalité"
    topLine2="n'est pas un choix,"
    bottomLine="c'est une nécessité."
    backgroundVideo="/videos/hero.mp4"
    />
    <a href="test1">TEST1</a>
    <a href="test2">TEST2</a>
    <a href="test3">TEST3</a>
    <StackedSections />
</Layout>