---
// AnimatedLogo.astro
---

<div class="logo-wrapper">
  <svg width="500" height="304" viewBox="0 0 500 304" fill="none" xmlns="http://www.w3.org/2000/svg" class="animated-logo">
    <defs>
      <clipPath id="clip-L">
        <rect class="clip-rect" x="0" y="0" width="210" height="0" />
      </clipPath>
      <clipPath id="clip-E">
        <rect class="clip-rect" x="100" y="0" width="0" height="250" />
      </clipPath>
      <clipPath id="clip-O1">
        <rect class="clip-rect" x="225" y="0" width="115" height="0" />
      </clipPath>
      <clipPath id="clip-O2">
        <rect class="clip-rect" x="355" y="0" width="145" height="0" />
      </clipPath>
    </defs>

    <g class="letter letter-L" clip-path="url(#clip-L)">
      <path d="M79.5456 201.109L89.2795 199.672L89.2859 199.829C144.763 192.558 192.502 183.459 209.416 181.371V219.374C141.149 220.32 78.8835 234.497 30.8442 257.394V30.8679C30.8442 15.2715 10.2814 3.79079 0 0H79.5456V201.109Z" fill="black"/>
    </g>

    <g class="letter letter-E" clip-path="url(#clip-E)">
      <path d="M209.416 162.437L101.876 175.46L107.142 144.592C122.778 145.097 148.567 140.518 160.713 133.706V95.041H131.493V71.4834H160.713V26.3945C150.129 22.735 126.736 22.2436 111.201 22.7451V0H209.416V162.437Z" fill="black"/>
    </g>

    <g class="letter letter-O1" clip-path="url(#clip-O1)">
      <path d="M339.286 234.559C304.719 225.459 266.26 220.091 225.649 219.402V0H339.286V234.559ZM274.35 195.127L290.584 197.589V19.707L274.35 19.001V195.127Z" fill="black"/>
    </g>

    <g class="letter letter-O2" clip-path="url(#clip-O2)">
      <path d="M500 0C489.719 3.79088 469.156 15.2719 469.156 30.8682V304C459.468 293.611 447.703 283.901 434.164 275.031C430.864 272.869 427.459 270.758 423.953 268.698C422.848 268.049 421.733 267.405 420.608 266.767C412.609 262.225 404.109 257.949 395.156 253.968C394.573 253.709 393.988 253.451 393.401 253.194C392.991 253.015 392.58 252.836 392.168 252.657V252.656C380.643 247.671 368.393 243.166 355.52 239.195V0H500ZM404.221 234.679L420.455 244.112V26.1494L404.221 25.1709V234.679Z" fill="black"/>
    </g>
  </svg>
</div>

<style>
  .logo-wrapper {
    overflow: visible;
    display: inline-block;
  }
  
  .animated-logo {
    overflow: visible;
    display: block;
  }
</style>

<script>
  import { gsap } from "gsap";

  document.addEventListener('DOMContentLoaded', () => {
    // Animation des clip-paths pour révéler les lettres

    // L - Révélation verticale de haut en bas
    gsap.to("#clip-L rect", {
      attr: { height: 260 },
      duration: 1.2,
      ease: "power3.out",
      delay: 0
    });

    // E - Révélation horizontale de gauche à droite (unique)
    gsap.to("#clip-E rect", {
      attr: { width: 110 },
      duration: 1.0,
      ease: "power3.out",
      delay: 0.2
    });

    // O1 - Révélation verticale de haut en bas
    gsap.to("#clip-O1 rect", {
      attr: { height: 240 },
      duration: 1.1,
      ease: "power3.out",
      delay: 0.4
    });

    // O2 - Révélation verticale de haut en bas
    gsap.to("#clip-O2 rect", {
      attr: { height: 305 },
      duration: 1.15,
      ease: "power3.out",
      delay: 0.6
    });
  });
</script>