---
import "../styles/global.css";
import Footer from '../components/Footer.astro';
import Loader from '../components/Loader.astro';

---
<!doctype html>
<!-- PEUT CHANGER DATA-THEME DE  
 LIGHT
 A 
 DARK.-->
<html lang="fr" data-theme="light">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
</head>
<body>
    <Loader />

    <slot />
    <Footer />
</body>
</html>
<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>

